<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Responsive Using Media Queries</title>
</head>

<body>
    <header>
        In addition to resize text and images, it is also common to use media queries in responsive web pages. <br>
        With media queries you can define completely different styles for different browser sizes.
    </header>
    <div class="flex-container">
        <div class="one">
            W3.CSS is a modern CSS framework with support for desktop, tablet, and mobile design by default.
            W3.CSS is smaller and faster than similar CSS frameworks.
        </div>
        <div class="two">
            W3.CSS is designed to be a high quality alternative to Bootstrap.
            W3.CSS is designed to be independent of jQuery or any other JavaScript library.
        </div>
        <div class="three">
            London is the capital city of England.
            It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.
        </div>
    </div>
    <footer class="flex-container">
        <div class="footer-one">
            <i class="fa fa-map-marker" style="font-size:28px;color:red"></i> <br>
            Questions <br>
            Jobs <br>
            Developer Jobs Directory
        </div>
        <div class="footer-two">
            <i class="fa fa-archive" style="font-size:28px;color:green"></i> <br>
            Teams <br>
            Talent <br>
            Advertising
        </div>
        <div class="footer-three">
            <i class="fa fa-briefcase" style="font-size:28px;color:orange"></i> <br>
            About <br>
            Press <br>
            Work Here
        </div>
    </footer>
</body>

</html>