<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>

<body>
    <header style="color: white; text-align:center; padding: 30px;">
        Spot-on...It's our commitment! <br>
        Proven track record and customer recognition delivering projects ontime and within budget. <br>
        Excellent expertise to gear-up on new application domains and getting our teams up-to-speed rapidly and <br>
        cost-effectively.
    </header>
    <div style="color:white; background-color: #081249; text-align: center; padding: 30px;">
        Customer Endorsements <br>
        Our customers recognize the commitment and value outcomes we deliver to their business. These accolades indeed
        <br>
        gives us a 'huge differentiating advantage' and helps us win new customers!
        <div class="flex-container-second">
            <div class="flex-items-new">
                <p>
                    “Under very tight deadlines, DSRC was able to take over our existing outsource relationship with the
                    highest level of professionalism, discipline and focus on the desired results.
                </p>
                <p>DSRC has come in on time, on budget and to our delight has invested in the relationship to make it
                    work.</p>
                <p>This is a very professional company.”</p>
                <div>
                    Dr. Ademola Solaru, DM <br>
                    CEO, Parthenon Globalsystems, Cleveland, Ohio, United States <br>
                </div>
                <i class="fa fa-map-marker" style="font-size:68px;color:red;float: right;padding: 20px;"></i> <br>
            </div>
            <div class="flex-items-new">
                <p>has been a big part of our success here at Keyhouse. The team at DSRC has been instrumental in
                    development and design for many projects here at Keyhouse.</p>
                <p>Their level of ownership and expertise provides a very trusting experience and engagement.</p>
                <p>DSRC is a valuable and trusted partner in our business.”</p>
                <div>
                    Dr. Ademola Solaru, DM <br>
                    CEO, Parthenon Globalsystems, Cleveland, Ohio, United States <br>
                </div>
                <i class="fa fa-address-card-o" style="font-size:68px;color:green;float: right;padding: 20px;"></i> <br>
            </div>
            <div class="flex-items-new">
                <p>“‘Awesome’ is the one word! DSRC has helped our business successfully engage offshore application
                    delivery
                    as a key strategy to aid growth and business expansion.</p>
                <p>The zeal and expertise complements our project management capabilities – this added with effective
                    customer
                    management has placed DSRC as a Trusted Partner!”</p>
                <div>
                    Dr. Ademola Solaru, DM <br>
                    CEO, Parthenon Globalsystems, Cleveland, Ohio, United States <br>
                </div>
                <i class="fa fa-archive" style="font-size:68px;color:orange;float: right;padding: 20px;"></i> <br>
            </div>
        </div>
    </div>
    <footer>
        <div class="flex-container">
            <div class="flex-items">
                <i class="fa fa-map-marker" style="font-size:28px;color:red"></i> <br>
                DSRC Private Limited <br>
                11 Smith Road, 'Kasturi Towers' <br>
                Chennai 600002, India
            </div>
            <div class="flex-items">
                <i class="fa fa-address-card-o" style="font-size:28px;color:rgb(65, 240, 158)"></i> <br>
                info@dsrc.com <br>
                marketing@dsrc.com <br>
                jobs@dsrc.com
            </div>
            <div class="flex-items">
                <i class="fa fa-archive" style="font-size:28px;color:rgb(104, 59, 207)"></i> <br>
                India: +91 44 4510 5000 <br>
                UK: +44 20 7193 8144 <br>
                US: +1 408 757 0152
            </div>
            <div class="flex-items">
                <i class="fa fa-briefcase" style="font-size:28px;color:rgb(220, 240, 41)"></i> <br>
                India: +91 44 4510 5000 <br>
                UK: +44 20 7193 8144 <br>
                US: +1 408 757 0152
            </div>
        </div>
        <div style="color: silver; text-align:center;">
            ©2021 DSRC All Rights Reserved | Privacy Statement
        </div>
    </footer>
</body>

</html>